PLACEHOLDER_MODE=true
SITE_URL=https://example.com
CONTACT_EMAIL=name@example.com
CONTACT_LINKEDIN_URL=https://linkedin.com/
CONTACT_GITHUB_URL=https://github.com/
LEGAL_FULL_NAME="Your Legal Name"
LEGAL_ADDRESS_LINE_1="Street 1"
LEGAL_ADDRESS_LINE_2="12345 City"
DOCKER_IMAGE_GATEWAY=vladyslavmdev/gateway-ui:template
LETSENCRYPT_EMAIL=you@example.com
GATEWAY_DOMAIN=example.com
